<!--launch file -->
<launch>
	<!-- ocotomap node -->
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
    <param name="resolution" value="0.05" />
    <!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
    <param name="frame_id" type="string" value="map" />
    <param name="base_frame_id" type="string" value="base_link_stabilized" />
    <!-- maximum range to integrate (speedup!) -->
    <param name="sensor_model/max_range" value="10.0" />
    <param name="pointcloud_min_z" value="-1.0" />
    <param name="pointcloud_max_z" value="5.0" />
    <!-- data source to integrate (PointCloud2) -->
    <remap from="cloud_in" to="/depth_registered/points" />
    <param name="filter_ground" value="false" />
</node>

</launch>

