<!-- Launches: altitude_from_rgbd_node -->
<launch>
			

  	<node name="republish_depth" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera/depth/image_raw raw out:=/camera/depth/image_raw_uncompressed"/>	 
			
		<node name="republish_color" type="republish" pkg="image_transport" output="screen" args="compressed in:=/camera/color/image_raw raw out:=/camera/color/image_raw_uncompressed"/> 
			
		<!-- This nodelet is for rectifying the depth image-->
		<node pkg="nodelet" type="nodelet" name="depth_rectifier_manager" args="manager" output="screen"/>
				
 		<node pkg="nodelet" type="nodelet" name="rectify_mono" args="load image_proc/rectify depth_rectifier_manager" output="screen" >
		<remap from="image_mono" to="/camera/depth/image_raw_uncompressed"/> 
		<remap from="image_rect" to="/camera/depth/image_rect"/>
		</node>

		<!-- This nodelet is for converting the depth image to pointcloud data-->
		<node pkg="nodelet" type="nodelet" name="depth_manager" args="manager" output="screen"/>
	  <node pkg="nodelet" type="nodelet" name="point_cloud_xyz" args="load depth_image_proc/point_cloud_xyz depth_manager" output="screen">
		<remap from="camera_info" to="/camera/depth/camera_info"/> 
		<remap from="image_rect" to="/camera/depth/image_rect"/>
		</node>  

	<node name="semantic_slam_node" pkg="semantic_SLAM" type="semantic_SLAM_node" output="screen" />

</launch>
